<section class="staticbackground">
<% if is_logged_in? %>
<header id="navbar">
  <section class="navigation">
        <div class="logo"><%= link_to bettyland_path do %><img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/betty_logo_white_period.png" class="logolink"></div><% end %>

    <div class="links"><p class="navlinks"><%= link_to "Logout", session_path, method: :delete %>  | <%= link_to "Edit Account", edit_user_path(@user) %> | <%= link_to "All Bettys", users_path %>
| <%= link_to "Your Profile", user_path(@user.ig_username) %> | <%=link_to "Shop Betty", products_path %> | <%= link_to "Cart", cart_path %>
<% if @user.points.nil? %>
<br>You currently have 0 Points. Time to get beditating!
<% else %>
<br>Your currently have <%= @user.points %> points. This means you have meditated for <%= 10 * @user.points %> minutes or <%= 10 * @user.points/ 60 %> hours!
<% end %>
</div>
</section></header>


  <div class="maincontentbettyland"><br><br>
<div class="login"><h1> Edit Account</h1></div>
<div class="loginform">
  <%= simple_form_for @user do |f| %>
  <%= f.input :ig_username %>
  <%= f.input :password, label: 'Change your Password' %>
  <%= f.input :password_confirmation %>
  <%= f.input :photo, label: 'Upload a Bio Photo' %>
  <%= f.input :photogif, label: 'Upload a gif of you' %>
  <%= f.input :about, label: 'Tell us about you!', placeholder: 'What do you do? What are you into? Share anything you like here, but like, no pressure.' %>
  <%= f.input :check_in_q_1, label: 'Who would play you in a movie about your life?' %>
  <%= f.input :check_in_q_2, label: 'What reminds you of home?' %>
  <%= f.input :check_in_q_3, label: 'Current favourite song?'  %>
  <h2>Mental Health Shelf</h2>
  <p>This is where you can share what helps you take care of yourself with the Betty community.
  <br>Your Mental Health Shelfie is a snapshot of you- somewhere to remind you of the tools you already have, and a way for others to connect with you.
  Fill in as much or as little as you like. <br><br>Who knows,
  you may just find your next bestie, or at the very least, be inspiring, and inspired.</p>
  <h3>Got any favourite quotes?</h3>
  <%= f.input :MHSquote_1,  label: '1.' %>
  <%= f.input :MHSquote_2,  label: '2.' %>
  <%= f.input :MHSquote_3,  label: '3.' %>
  <h3>What books or reads would you recommend?</h3>
  <%= f.input :MHSbook_1,  label: '1.' %>
  <%= f.input :MHSbook_2,  label: '2.' %>
  <%= f.input :MHSbook_3,  label: '3.' %>
  <%= f.input :MHSbook_4,  label: '4.' %>
  <%= f.input :MHSbook_5,  label: '5.' %>
  <h3>What are some of your favourite IG accounts?</h3>
  <%= f.input :MHSIG_1,  label: '1.' %>
  <%= f.input :MHSIG_2,  label: '2.' %>
  <%= f.input :MHSIG_3,  label: '3.' %>
  <%= f.input :MHSIG_4,  label: '4.' %>
  <%= f.input :MHSIG_5,  label: '5.' %>
  <h3>Any products crucial to your self care?</h3>
  <%= f.input :MHSproduct_1,  label: '1.' %>
  <%= f.input :MHSroduct_2,  label: '2.' %>
  <%= f.input :MHSproduct_3,  label: '3.' %>
  <%= f.input :MHSproduct_4,  label: '4.' %>
  <%= f.input :MHSproduct_5,  label: '5.' %>
  <h3>What is part of your self care routine?</h3>
  <%= f.input :MHSroutine_1,  label: '1.' %>
  <%= f.input :MHSroutine_2,  label: '2.' %>
  <%= f.input :MHSroutine_3,  label: '3.' %>
  <h3>Finally, any other tips? Videos? Songs? Whatever you like!</h3>
  <%= f.input :MHSgeneral_1,  label: '1.' %>
  <%= f.input :MHSgeneral_3,  label: '2.' %>
  <%= f.input :MHSgeneral_4,  label: '3.' %>
  <%= f.input :MHSgeneral_5,  label: '4.' %>

    <%= f.button :submit, "Update User Details" %>
  <% end %>

<p>
  <%= link_to "Update Card Details", edit_account_path %> | <%= link_to "Delete Account", @user, method: :delete,
  data: {confirm: "Are you sure you want to delete your account?"} %>
  </div>
  </div>
</section>

<footer id="footernav">
  <section class="navigationfooter">
  <p><%= link_to "Logout", session_path, method: :delete %>  | <%= link_to "Edit Account", edit_user_path(@user) %> | <%= link_to "All Bettys", users_path %>
| <%= link_to "Your Profile", user_path(@user.ig_username) %> | <%=link_to "Shop Betty", products_path %> | <%= link_to "Cart", cart_path %>
<% if @user.points.nil? %>
<br>You currently have 0 Points. Time to get beditating!
<% else %>
<br>Your currently have <%= @user.points %> points. This means you have meditated for <%= 10 * @user.points %> minutes or <%= 10 * @user.points/ 60 %> hours!
<% end %>
 </section></footer>



<% else %>
<div class="peeking">
  <img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/bigtrouble.gif">
  <h1>No peeking!</h1><p>Bettyland is just for Bettys.<br>Have an account? <%= link_to "login here", new_session_path %><br><br>No account? No problem. You can sign up <%= link_to "here", root_path%>
  </div>
  <% end %>

  <h3><%= link_to 'Back to Bettyland Home', bettyland_path %></h3>
</section>
