<div class="announcement">
    <% if is_logged_in? %>
    <p>HEY BETTY! <%= link_to "ENTER BETTYLAND HERE.", bettyland_path %></p>
    <% else %>
  <p>ARE YOU A BETTY? <%= link_to "LOGIN TO BETTYLAND HERE", new_session_path %>.<% end %> </div>
<nav class="about">
  <a href="#about"><h1>About </h1></a></nav>

<nav class="signup">
  <span onclick="openNav()"><h1> Sign Up</h1></span> </nav>

<nav class="partners">
  <span onclick="openNav2()"><h1> Partners</h1> </nav></span>

<nav class="quiz">
  <a href="#popquiz"><h1>Quiz</h1></a></nav>

<header>
<a href="#home"><p>  Real Live Beditations</p></a>
</header>

<footer>
<p>
  <a href="#home">For Real Lazy People</a>
  </p></footer>


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><h1>
    Close
    </h1></a>
<div class="signupform">
  <h1>sign up form </h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :ig_username, label: 'Your Instagram Username' %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :tune_in, label: 'How many times a week are you hoping to tune in? (1-5)' %>
  <%= f.input :address_1 %>
  <%= f.input :address_2 %>
  <%= f.input :city %>
<%= f.input :country, :html => { class: 'dropdown' } %>
  <%= f.input :postal_code%>
  <%= f.input :subscription_plan, :html => { class: 'dropdown' }, as: :select, collection:
  [['Betty Subscription- $8.99USD/ month', 'plan_EKfYtvn7AbVx3H']], include_blank: false %>
<%= f.input :coupon %>
<div id="card-errors">
<% @user.errors[:stripe_token].each do |e| %>
<%= e  %>
<% end %>
</div>

<div id="card"></div>

<%= f.button :submit, "Sign up!" %>
<% end %>

<script>
  var stripe = Stripe("<%= Rails.application.credentials[Rails.env.to_sym][:stripe_key] %>")
  var elements = stripe.elements()

  var card = elements.create('card', {hidePostalCode: true})
  card.mount('#card')

  $("form#new_user").on("submit", function (ev) {
    ev.preventDefault()

    stripe.createToken(card).then(function (result) {
      if (result.error) {
        $("#card-errors").html(result.error.message)
      } else {
        $("form#new_user").append("<input type='hidden' name='user[stripe_token]' value='" + result.token.id + "'>")
        $("form#new_user").get(0).submit()
      }
    })

  })
</script>

  </div>
</div>

<div id="mySidenav2" class="partnerships">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()"><h1>
    Close
    </h1></a>
  <div class="partnershipscopy">
    <div class="partnershipcopytitle">

    <h4>
      Want to collaborate?
    </h4>
<p>
  Whether it's to be a part of our Betty Rewards Program, or to work together on an event or campaign, give us a shout at hello@inbedwithbetty.com
  </p>
          </div>
    <div class="partnershipcopyimage">
    <img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/partnership.gif">
    </div>
      </div>
</div>



<div class="instagram">
 <div class="instagramcopy">
   <p><a href="http://instagram.com/meet.betty">Instagram ♥️</a>  </p>  </div><a href="http://instagram.com/meet.betty"><img src="inbediwthbetty_ig.png" class="mobilesocial"></a></div>

<div class="playlist">
 <div class="spotifycopy">
   <p> <a href="https://open.spotify.com/user/z5gz8c8jfg6e6nbuixh46ocy7?si=SMxaIdJFSxCnceU9vX538g"> 🎵 SPOTIFY</a>  </p>  </div><a href="https://open.spotify.com/user/z5gz8c8jfg6e6nbuixh46ocy7?si=SMxaIdJFSxCnceU9vX538g"><img src="inbedwithbetty_spotify.png" class="mobilesocial"></a></div>


<section class="welcome" id="home">
  <div class="container">

<div class="clouds">
<script src="https://fast.wistia.com/embed/medias/h4d82xzj92.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:88.67% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_h4d82xzj92 seo=false videoFoam=true" style="height:100%;position:relative;width:100%">&nbsp;</div></div></div>
    </div>

<div class="bettyvideo">
    <script src="https://fast.wistia.com/embed/medias/af6lp1mkpp.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_af6lp1mkpp seo=false videoFoam=true" style="height:100%;position:relative;width:100%">&nbsp;</div></div></div>
</div>


<div class="alert">
  <img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/unreadmsgs.png">
    </div>

    <div class="alarm">
      <img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/iphonealarm.png">
    </div>

    <div class="bettywindows">
      <img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/betty_club_compuer.png">
    </div>

    <div class="mug">
      <img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/Final_Gif.gif">
    </div>

    <div class="bettyIG">
      <img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/bettyinstagram.png">
    </div>

    <div class="riverdale">
      <img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/betty.gif">
    </div>

    <div class="braintabs">
      <img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/braintabs2.jpg">
    </div>

    <div class="cher">
      <img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/cher.jpg">
    </div>

  </div>
</section>

<section class="aboutinfo fadein" id="about">
    <div class="container"><br><br><br><br>
  <h4>
    A Self Care Snooze Club.
      </h4>
      <p>
  Betty is a private community that runs daily beditations every hour, on the hour between 6-8AM(PST) via Instagram Live. If you know you "should" meditate, but “forget to” on the regular- No shame, girl. <u> We make it easy for you.</u> We believe that since you’re checking your phone anyway when you wake up, you may as well join in on our live meditations first thing in the morning. That way, you can go through the rest of your day knowing you’ve done something good for yourself already. 🙌🏽
      </p><p class="arrow">
      <img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/down-arrow.svg">
      </p>
  </div>
</section>

<section class="what-included fadein">
    <div class="container">
<h4>
      How does it work?
      </h4>
      <ul class="howitworks">
        <li>Sign up for $8.99 (USD)*  and let us know your preferred IG account so we can invite you into the club. </li>
---------------------------
        <li>Tune in every morning (6, 7, and 8AM PST) via IG, Monday-Friday, for the 10 minute meditation.</li>
---------------------------
        <li>😴If you prefer sleeping in- all good! The last one of the day is always saved to our stories for 24 hours for snoozers and those in different time zones.</li>
---------------------------
        <li>Every time you tune in (live, or not), you get a point. Collect points to redeem exclusive discounts off of other vendors in our Betty Rewards Program. (Think: Meal delivery services, skincare, etc.)</li>
---------------------------
        <li>At the end of the week, we send out the Betty Bulletin over email- a roundup of your points, a meditation to keep, and some interesting reads/ food for thought just for Bettys.</li>
      </ul><br><br><p>
      <i>* Note: This is a monthly subscription</i>
      </p>
      </div>
</section>

<section class="FAQ fadein">
    <div class="container">
     <div class="FAQ-title">
       <h4>
        Frequently Asked Questions</h4><p>
      ⚠️ Tap/ Hover over for answers. Scroll to read more.</p><p>
       🔍 For mobile, go ahead and stretch that zoom.
       </p>
             </div>
      <div class="faq">
      <div class="faqboxes">
          <div class="overlay">
       <p>
        All good- the last beditation of the day is saved to our story so you can always re-up or catch us if you missed us.
                 </p>
    </div>
        <img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/FAQ1.jpg">
        </div>
          <div class="faqboxes">
              <div class="overlay">
       <p>
        Along with the daily beditations, you’ll receive exclusive access to the Betty Back-End Club. There, you can connect with like-minded folks, watch past meditation videos, see your points balance (everytime you watch a meditation- you get points 🤑), redeem your points in our shop, and find a weekly roundup of articles and links to support your self care needs
                 </p>
    </div>
                <img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/FAQ2.jpg">
        </div>
          <div class="faqboxes">
                <img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/FAQ3.jpg">
              <div class="overlay">
       <p>
        Nope! We can see your username when you tune in but that's it. So feel free to be in your sweatpants, hair tied, and chilling with no makeup on with your phone in that unflattering under-the-chin-angle
                 </p>
    </div>
        </div>
          <div class="faqboxes">
                <img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/FAQ4.jpg">
              <div class="overlay">
           <p>
        Hey, you and I both. No one can turn off their thoughts- that's not what meditation is about. What IS it about? Well you'll have to try and see 😉
                 </p>
    </div>
        </div>
          <div class="faqboxes">
                <img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/FAQ5.jpg">
              <div class="overlay">
            <p>
       That's cool! Does your app work for you or is it just taking up space on your phone? Betty is designed to help build a better morning routine. Plus, there is a Real Human (that's me! 🙋🏻‍♀️) who notices and cares whether or not you show up. I'm always watching out for you 👀.
                 </p>
    </div>
        </div>
          <div class="faqboxes">
                <img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/FAQ6.jpg">
              <div class="overlay">
         <p>
           Glad you asked! I’ve been teaching yoga & meditation/ in the wellness world for over 9 years and am a <a href="http://instagram.com/ineeeda" target="_blank">lululemon ambassador.</a> I started one of the world’s first meditation studios <a href="https://info.lululemon.com/features/the-sweat-life/found-in-vancouver-canada-moment-meditation">(MOMENT)</a> after learning how to meditate as a super-depressed 21 year old. It saved my life and I believe in the importance of it- which is why I’m doing what I do now.
                 </p>
    </div>
        </div>
          <div class="faqboxes">
                <img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/FAQ7.jpg">
              <div class="overlay">
            <p>
              We go live for 10-15 minutes at 6, 7, and 8AM PST. Live in another time zone? You can still participate! Over half of Bettys live all around the world and tune in to our saved meditation every day, at whatever time works for them. Every view is noted and counts towards your points balance- even the ones that happen when we aren't live.
                 </p>
    </div>
        </div>
          <div class="faqboxes">
                <img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/FAQ8.jpg">
              <div class="overlay">
        <p>
       Nope! Every day is a new day- which means a different meditation, a new check in question, and a new quote or take-away message for you to think about during your day.
                 </p>
    </div>
        </div>

      </div>
      </div></section>


<section class="who-betty fadein">
    <div class="container">
      <div class="whobettyinside">

       <div class="whobettycopy">
         <h4>
           Who the F is Betty?
      </h4><br><br>
      <p>
        Plot twist: my name isn’t Betty- It’s Anita, but most people call me <a href="http://instagram.com/ineeeda" target="_blank">Neets.</a> 👋🏽 </p><p>Learning to meditate in my early 20s changed my life, and saved my life. (like, literally.) I've been in the "wellness" world for almost a decade (I even founded Canada's <a href="http://info.lululemon.com/features/the-sweat-life/found-in-vancouver-canada-moment-meditation" target="_blank">first modern meditation studio</a>); and while there are lots of great tools out there, I created Betty to make meditating easier, and a little more fun.</p><p>But really, it's about so much more than just meditating- it's a community, it's a vibe, and it's a reason to wake up in the morning to do good, and do better for ourselves, every day.</p> </div>

        <div class="bettyme">
      <img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/_ATP6407_EDITED_WEBREADY.jpg">
      </div>
      </div>

  </div></section>

<section class="pop-quiz fadein" id="popquiz">
    <div class="container">
      <div class="quiztitle">
        <h4>
          Meditation for your mood
        </h4><p>
        So many meditations- where does one start? We've made it easy. Pop in your answers and we'll spit out a short 5 minute meditation.
        </p>
      </div>
<div class="quizbutton">

  <a class="typeform-share button" href="https://inbedwithbetty.typeform.com/to/ugLJMT" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#C16290;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:35px;text-align:center;margin:0;height:35px;padding:0px 23px;border-radius:0px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-hide-headers=true data-hide-footer=true data-submit-close-delay="0" target="_blank">Take the Quiz Now </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script></div>

  </div></section>

<section class="contact fadein">
    <div class="container">
<h4>
Get in touch!
      </h4><p>
      Email us at hello@inbedwithbetty.com<br>Find us on the insta at <a href="http://instagram.com/meet.betty" target="_blank">@meet.betty</a></p></div></section>

<script src="in-view.js"></script>
<script src="main.js"></script>
