<section class="staticbackground">
<% if is_logged_in? %>
<header id="navbar">
  <section class="navigation">
        <div class="logo"><%= link_to bettyland_path do %><img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/betty_logo_white_period.png" class="logolink"></div><% end %>

    <div class="links"><p class="navlinks"><%= link_to "Logout", session_path, method: :delete %>  | <%= link_to "Edit Account", edit_user_path(@user) %> | <%= link_to "All Bettys", users_path %>
| <%= link_to "Your Profile", user_path(@user.ig_username) %> | <%=link_to "Shop Betty", products_path %> | <%= link_to "Cart", cart_path %>
<% if @user.points.nil? %>
<br>You currently have 0 Points. Time to get beditating!
<% else %>
<br>Your currently have <%= @user.points %> points. This means you have meditated for <%= 10 * @user.points %> minutes or <%= 10 * @user.points/ 60 %> hours!
<% end %>
</div>
</section></header>


    <div class="maincontentbettyland"><br><br>
  <% if @user == @current_user %>
  <%= link_to "Edit your Profile", edit_user_path(@user) %>
  <% end %>
<h1><%= @user.ig_username %></h1>
<%= image_tag @user.photo.medium.url %>
<p>
  <%= @user.first_name %> <%=@user.last_name %> lives in   <%= @user.city %>, <%= @user.country%> <br><br>
  Can be reached at:  <%= @user.email %><br>
  Points: <%= @user.points %><br>
  Who would play me in a movie about my life: <%= @user.check_in_q_1 %><br>
  What reminds me of home: <%= @user.check_in_q_2 %><br>
  My current favourite song: <%= @user.check_in_q_3 %><br><br>
  About Me: <br> <%= @user.about %>
  </p>
  <h2>My Mental Health Shelf</h2>
  <h3>Quotes</h3>
  <p>
  <%= @user.MHSquote_1 %><br>
  <%= @user.MHSquote_2 %><br>
  <%= @user.MHSquote_3 %>
    </p>

    <h3>Read This</h3>
    <p>
    <%= @user.MHSbook_1 %><br>
    <%= @user.MHSbook_2 %><br>
    <%= @user.MHSbook_3 %><br>
    <%= @user.MHSbook_4 %><br>
    <%= @user.MHSbook_5 %>
      </p>

    <h3>Follow this</h3>
    <p>
    <%= @user.MHSIG_1 %><br>
    <%= @user.MHSIG_2 %><br>
    <%= @user.MHSIG_3 %><br>
    <%= @user.MHSIG_4 %><br>
    <%= @user.MHSIG_5 %>
    </p>


  <h3>Must have items:</h3>
  <p>
  <%= @user.MHSproduct_1 %><br>
  <%= @user.MHSroduct_2 %><br>
  <%= @user.MHSproduct_3 %><br>
  <%= @user.MHSproduct_4 %><br>
  <%= @user.MHSproduct_5 %>
  </p>


<h3>My Routine</h3>
<p>
<%= @user.MHSroutine_1 %><br>
<%= @user.MHSroutine_2 %><br>
<%= @user.MHSroutine_3 %>
</p>


<h3>Other Tips</h3>
<p>
<%= @user.MHSgeneral_1 %><br>
<%= @user.MHSgeneral_3 %><br>
<%= @user.MHSgeneral_4 %><br>
<%= @user.MHSgeneral_5 %>
</p><br><br>
</div>


<footer id="footernav">
  <section class="navigationfooter">
  <p><%= link_to "Logout", session_path, method: :delete %>  | <%= link_to "Edit Account", edit_user_path(@user) %> | <%= link_to "All Bettys", users_path %>
| <%= link_to "Your Profile", user_path(@user.ig_username) %> | <%=link_to "Shop Betty", products_path %> | <%= link_to "Cart", cart_path %>
<% if @user.points.nil? %>
<br>You currently have 0 Points. Time to get beditating!
<% else %>
<br>Your currently have <%= @user.points %> points. This means you have meditated for <%= 10 * @user.points %> minutes or <%= 10 * @user.points/ 60 %> hours!
<% end %>
 </section></footer>


<% else %>
<div class="peeking">
  <img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/bigtrouble.gif">
  <h1>No peeking!</h1><p>Bettyland is just for Bettys.<br>Have an account? <%= link_to "login here", new_session_path %><br><br>No account? No problem. You can sign up <%= link_to "here", root_path%>
  </div>
  <% end %>
  </section>
