<body class="edituserbg">

  <header class="mobilenav">

    <div class="logo"><%= link_to bettyland_path do %><img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/betty_logo_white.png" class="logolink"></div><% end %>
  <div class="mobilemenu">
    <span onclick="openNav()"><h1>Menu</h1></span>
    </div>

  </header>

  <section class="mobilesidenav">
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><h1>
        X </h1></a>
    <div class="signupform">
  <ul class="mobile-nav-links"><h3>
    <% if @user.nil? %>
  <li>  <%=link_to "Shop All Products", products_path %></li>
    <li> <%= link_to "Cart", cart_path %></li>
    <% else %>
    <li><%= link_to "All Bettys", users_path %></li>
    <li> <%=link_to "Meditations", meditations_path %></li>
    <li><%=link_to "Newsletters", newsletters_path %></li>
    <li><%=link_to "Discussion", forum_path %></li>
    <li><%= link_to "Your Rewards", rewards_path %></li>
    <li> <%= link_to conversations_path do %> Inbox
    (<%= @unread_messages %>)
    <% end %></li>
    <li><%= link_to "Your Profile", user_path(@user.ig_username) %></li>
     <li><%= link_to "Edit Account", edit_account_path %></li>
     <li><%=link_to "Shop Betty", products_path %></li>
    <li><%= link_to "Cart", cart_path %></li>
    <li><%= link_to "Logout", session_path, method: :delete %></li>
    <% if @user.points.nil? %>
    <br><br>Your points: 0 Points
    <% else %>
    <br><br>Your points: <%= @user.points %>
    <% end %>
    <% end %>
    </h3>
  </ul>
      </div>
    </div>
  </section>


  <header id="navbar">
    <section class="navigation">
          <div class="logo"><%= link_to bettyland_path do %><img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/betty_logo_white_period.png" class="logolink"></div><% end %>

      <div class="links"><p class="navlinks"><% if @user.nil? %>
        <%=link_to "Shop All Products", products_path %> | <%= link_to "Cart", cart_path %>
        <% else %>
        <%= link_to "All Bettys", users_path %> | <%=link_to "Meditations", meditations_path %>
          | <%=link_to "Newsletters", newsletters_path %> | <%=link_to "Discussion", forum_path %>
       | <%= link_to "Your Rewards", rewards_path %> | <%= link_to conversations_path do %> Inbox
      (<%= @unread_messages %>)
      <% end %>

      <br><%= link_to "Your Profile", user_path(@user.ig_username) %> | <%= link_to "Edit Account", edit_account_path %> | <%=link_to "Shop Betty", products_path %>
      | <%= link_to "Cart", cart_path %> | <%= link_to "Logout", session_path, method: :delete %>
    <% if @user.points.nil? %>
    <br><br>You currently have 0 Points. Time to get beditating!
    <% else %>
    <br><br>Your currently have <%= @user.points %> points. This means you have meditated for <%= 10 * @user.points %> minutes or <%= 10 * @user.points/ 60 %> hours!
    <% end %>
  <% end %>
  </div>
  </section></header>

<section class="neworderform">
<h1>Checkout</h1>

Total number of items: <%= @order.order_items.size %>

<%= simple_form_for @order do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>

  <%= f.input :email %>

  <%= f.input :country %>
  <%= f.input :address_1 %>
  <%= f.input :address_2 %>
  <%= f.input :city %>
  <%= f.input :postal_code %>

  <div id="card-errors">
    <% @order.errors[:stripe_token].each do |message| %>
      <p class="error"><%= message %></p>
    <% end %>
  </div>

  <p>
  <%= f.input :couponCode, label: 'Coupon:' %>
  </p>

  <div id="card"></div>

  <%= f.button :submit, "Submit order" %>

<% end %>
<div class="stripecart">
<script>
  var stripe = Stripe("<%= Rails.application.credentials[Rails.env.to_sym][:stripe_key] %>")
  var elements = stripe.elements()

  var card = elements.create("card", { hidePostalCode: true})
  card.mount("#card")

  $("form.new_order").on("submit", function (ev) {
    ev.preventDefault()

    stripe.createToken(card).then(function (result) {
      if (result.error) {
        $("#card-errors").html(result.error.message)
      } else {
        $("form.new_order").append("<input type=hidden name='order[stripe_token]' value=" + result.token.id + ">")
        $("form.new_order").get(0).submit()
      }
    })
  })
</script>
</div>
</section>

<footer id="footernav">
  <section class="navigationfooter">
  <p><% if @user.nil? %>
    <%=link_to "Shop All Products", products_path %> | <%= link_to "Cart", cart_path %>
    <% else %> <%= link_to "All Bettys", users_path %> | <%=link_to "Meditations", meditations_path %>
      | <%=link_to "Newsletters", newsletters_path %> | <%=link_to "Discussion", forum_path %>
   | <%= link_to "Your Rewards", rewards_path %> | <%= link_to conversations_path do %> Inbox
  (<%= @unread_messages %>)
  <% end %>

  <br><%= link_to "Your Profile", user_path(@user.ig_username) %> | <%= link_to "Edit Account", edit_account_path %> | <%=link_to "Shop Betty", products_path %>
  | <%= link_to "Cart", cart_path %> | <%= link_to "Logout", session_path, method: :delete %>
<% if @user.points.nil? %>
<br><br>You currently have 0 Points. Time to get beditating!
<% else %>
<br><br>Your currently have <%= @user.points %> points. This means you have meditated for <%= 10 * @user.points %> minutes or <%= 10 * @user.points/ 60 %> hours!
<% end %>
 </section></footer>
<% end %>
