<body class="shopbg">

  <header id="navbar">
    <section class="navigation">
          <div class="logo"><%= link_to bettyland_path do %><img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/betty_logo_white_period.png" class="logolink"></div><% end %>

      <div class="links"><p class="navlinks"><% if @user.nil? %>
        <%=link_to "Shop All Products", products_path %> | <%= link_to "Cart", cart_path %>
        <% else %>
        <%= link_to "All Bettys", users_path %> | <%=link_to "Meditations", meditations_path %>
          | <%=link_to "Newsletters", newsletters_path %> | <%=link_to "Discussion", forum_path %>
       | <%= link_to "Your Rewards", rewards_path %> | <%= link_to conversations_path do %> Inbox
      (<%= @unread_messages %>)
      <% end %>

      <br><%= link_to "Your Profile", user_path(@user.ig_username) %> | <%= link_to "Edit Account", edit_account_path %> | <%=link_to "Shop Betty", products_path %>
      | <%= link_to "Cart", cart_path %> | <%= link_to "Logout", session_path, method: :delete %>
    <% if @user.points.nil? %>
    <br><br>You currently have 0 Points. Time to get beditating!
    <% else %>
    <br><br>Your currently have <%= @user.points %> points. This means you have meditated for <%= 10 * @user.points %> minutes or <%= 10 * @user.points/ 60 %> hours!
    <% end %>
  <% end %>
  </div>
  </section></header>
<section class="cartpage">
<%if @current_cart.order_items.any? %>
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th></th>
      <th>Price</th>
        <th></th>
      <th>Qty</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <% @current_cart.order_items.each do |item| %>
  <tr>
    <td>
      <%= image_tag item.product.images.thumb.url, width: "100" %><br>
      <%= item.product.title %>
    </td>
    <td></td>
    <td><%= number_to_currency item.product.price_in_dollars %></td>
      <td></td>
    <td>
      <%= simple_form_for [item.product, item] do |f| %>
        <%= f.input :quantity, label: false %>
        <%= f.button :submit, "Update quantity" %>
      <% end %>
    </td>
    <td>
      <%= link_to "Remove", product_order_item_path(item.product, item), method: :delete %>
    </td>
  </tr>
        <% end %>
        </tbody>
        </table>

<section class="cartsubtotal">
        <p>
          Sub Total: <%= number_to_currency @current_cart.total_price_in_dollars %>
          <br>Shipping: $15.00
          <br>Tax: <%=number_to_currency @current_cart.total_tax %>
          <br>Total:<%=number_to_currency @current_cart.total_price_with_tax + 15 %>
          </p>

  <div class="checkoutbutton"><%= link_to "ðŸ‘‰ðŸ½  Continue to Checkout ðŸ‘ˆðŸ½", new_order_path %>
  </div>
</section>

        <% else %>
        <p> There are no items in your cart. Better go shopping!</p><br><img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/shopping.gif">
        <% end %>
        </section>



        <footer id="footernav">
          <section class="navigationfooter">
          <p><% if @user.nil? %>
            <%=link_to "Shop All Products", products_path %> | <%= link_to "Cart", cart_path %>
            <% else %> <%= link_to "All Bettys", users_path %> | <%=link_to "Meditations", meditations_path %>
              | <%=link_to "Newsletters", newsletters_path %> | <%=link_to "Discussion", forum_path %>
           | <%= link_to "Your Rewards", rewards_path %> | <%= link_to conversations_path do %> Inbox
          (<%= @unread_messages %>)
          <% end %>

          <br><%= link_to "Your Profile", user_path(@user.ig_username) %> | <%= link_to "Edit Account", edit_account_path %> | <%=link_to "Shop Betty", products_path %>
          | <%= link_to "Cart", cart_path %> | <%= link_to "Logout", session_path, method: :delete %>
        <% if @user.points.nil? %>
        <br><br>You currently have 0 Points. Time to get beditating!
        <% else %>
        <br><br>Your currently have <%= @user.points %> points. This means you have meditated for <%= 10 * @user.points %> minutes or <%= 10 * @user.points/ 60 %> hours!
        <% end %>
         </section></footer>
        <% end %>
