
<style>
body{ background-image: url('https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/Bettybg_2.jpg');
background-attachment: fixed;
top:0;
left: -50vw;
background-size: cover;
font-family: Inconsolata; }

nav{font-family: Inconsolata;
font-weight: 900;
text-transform: uppercase;}

nav a:hover{ color:#8697aa !important;
border-bottom: 2px solid #8697aa !important; }

label{
  font-size: 24px !important;
  color: #c16290;
  font-family: Cortez !important;
  padding-right: 10px;
}


input{
    background-color: #c49aa6 !important;
    color: #FFF !important;
    border: none !important;
    outline: none !important;
    width: 30vw;
    padding: 0.5em 0.75em 0.5em 0.75em;
    margin-bottom: 7px;
    font-family: 'Inconsolata', sans-serif !important;
  }



  textarea{
      background-color: #eeddcc !important;
      color: #000 !important;
      border: none !important;
      outline: none !important;
      font-family: 'Inconsolata', sans-serif !important;
    }

  textarea:focus{
    background-color: #eeddcc !important;
    outline: none !important;
    border: none !important;
    color: #000 !important;
    font-size: 14px !important;
    line-height: 1.3em !important;
    font-family: 'Inconsolata', sans-serif !important;
    }

input:focus{
  background-color: #c1629 !important;
  outline: none !important;
  border: none !important;
  color: #FFF !important;
  font-size: 14px !important;
  line-height: 1.3em !important;
  font-family: 'Inconsolata', sans-serif !important;
  }

input::placeholder{
    color: #FFF !important;
  }

input[type=submit] {
    background: #8697aa !important;
    color: #FFF !important;
    font-family: Inconsolata;
    font-size: 16px;
    appearance: none;
    border: none;
    width: 60%;
    margin-left: 0vw;
    margin-top: 15px;
    margin-bottom: 50px;
  padding: 0.5em 1.5em 0.5em 1.5em;
  transition: all 0.3s ease
  }

input[type=submit]:hover{
      background: #c49aa6 !important;
      color: #000 !important;
    }

.threddedheading{
  background-color: #8697aa;
  padding: 0vh;
display: flex;
justify-content: space-evenly;
align-items: center;
color: #FFF}

.threddedmainnav a{ color: #FFF;
text-decoration: none;
border-bottom: 2px solid #8697aa;
transition: all 0.3s ease}

.threddedmainnav a:hover{ border-bottom: 2px solid #FFF; }

.threddedheading img{ max-width: 12vw; }


.thredded--main-section{
  font-family: 'Inconsolata' !important;
}


.thredded--main-section a{
  color: #8697aa;
}

.thredded--main-section a:hover{
  color: #c16290;
}

.thredded--button{
  background: #8697aa !important;
  color: #FFF !important;
  font-family: 'Inconsolata' !important;
}

.thredded--button:hover{
  background: #c49aa6 !important;
  color: #000 !important;
}
@media(max-width:640px){
  .threddedheading{ display: block; pading: 1vh;}
  .threddedheading img {max-width: 20vw;}
  .threddedmainnav { max-width: 80vw;}
  label{font-size: 20px !important;}
}

</style>

<header id="navbar">
  <section class="navigation">
    <center><section class="threddedheading">
      <div class="threddedlogo"><img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/betty_logo_white.png"></div>
      <div class="threddedspacer"></div>
      <div class="threddedspacer"></div>
      <div class="threddedspacer"></div>
      <div class="threddedspacer"></div>
    <div class="threddedmainnav"><h1><%= link_to "Back to Bettyland Home", main_app.bettyland_path %> | <%= link_to "All Bettys", main_app.users_path %> |  <%=link_to "Shop Betty", main_app.products_path %>
  | <%= link_to "Cart", main_app.cart_path %></h1></div></section></center>
</section></header>


<div class="maincontentbettyland"><br><br>


<% content_for :thredded_page_title, t('thredded.topics.create') %>
<% content_for :thredded_page_id, 'thredded--new-topic' %>
<% content_for :thredded_breadcrumbs, render('thredded/shared/breadcrumbs') %>

<%= thredded_page do %>
  <section class="thredded--main-section">
    <%= render 'thredded/topics/form',
               topic: @new_topic,
               css_class: 'thredded--is-expanded',
               placeholder: t('thredded.topics.form.title_placeholder_start') %>
  </section>
<% end %>


</div>
