<section class="edituserbg">
  <% if is_logged_in? %>

  <header class="mobilenav">

    <div class="logo"><%= link_to bettyland_path do %><img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/betty_logo_white.png" class="logolink"></div><% end %>
  <div class="mobilemenu">
    <span onclick="openNav()"><h1>Menu</h1></span>
    </div>

  </header>

  <section class="mobilesidenav">
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><h1>
        X </h1></a>
    <div class="signupform">
  <ul class="mobile-nav-links"><h3>
    <li><%= link_to "All Bettys", users_path %></li>
    <li> <%=link_to "Meditations", meditations_path %></li>
    <li><%=link_to "Newsletters", newsletters_path %></li>
    <li><%=link_to "Discussion", forum_path %></li>
    <li><%= link_to "Your Rewards", rewards_path %></li>
    <li> <%= link_to conversations_path do %> Inbox
    (<%= @unread_messages %>)
    <% end %></li>
    <li><%= link_to "Your Profile", user_path(@user.ig_username) %></li>
     <li><%= link_to "Edit Account", edit_account_path %></li>
     <li><%=link_to "Shop Betty", products_path %></li>
    <li><%= link_to "Cart", cart_path %></li>
    <li><%= link_to "Logout", session_path, method: :delete %></li>
    <% if @user.points.nil? %>
    <br><br>Your points: 0 Points
    <% else %>
    <br><br>Your points: <%= @user.points %>
    <% end %>
    </h3>
  </ul>
      </div>
    </div>
  </section>


  <header id="navbar">
    <section class="navigation">
          <div class="logo"><%= link_to bettyland_path do %><img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/betty_logo_white_period.png" class="logolink"></div><% end %>

      <div class="links"><p class="navlinks"><%= link_to "All Bettys", users_path %> | <%=link_to "Meditations", meditations_path %>
        | <%=link_to "Newsletters", newsletters_path %> | <%=link_to "Discussion", forum_path %>
     | <%= link_to "Your Rewards", rewards_path %> | <%= link_to conversations_path do %> Inbox
    (<%= @unread_messages %>)
    <% end %>

    <br><%= link_to "Your Profile", user_path(@user.ig_username) %> | <%= link_to "Edit Account", edit_account_path %> | <%=link_to "Shop Betty", products_path %>
    | <%= link_to "Cart", cart_path %> | <%= link_to "Logout", session_path, method: :delete %>
  <% if @user.points.nil? %>
  <br><br>You currently have 0 Points. Time to get beditating!
  <% else %>
  <br><br>Your currently have <%= @user.points %> points. This means you have meditated for <%= 10 * @user.points %> minutes or <%= 10 * @user.points/ 60 %> hours!
  <% end %>
  </div>
  </section>

</header>



<%= simple_form_for @user, url: account_path do |f| %>

  <div class="maincontentbettyland"><br><br>
  <div class="edit-account-page">

<section class="edit-user-details">


<div class="long-user-info">


  <a name="section-1">
      <section class="photo-uploader">
      <div class="image-upload">
        <h3>Upload a Bio Photo</h3>
        <div class="edit-user-image">
        <%= image_tag @user.photo.medium.url %>
        </div>
          <%= f.input :photo, label: 'ðŸ“·', :input_html => { :class => 'photoinput' } %>
        </div>
      <div class="image-upload">
        <h3> Upload a Boomerang of You</h3>
        <div class="edit-user-image gif">
        <%= image_tag @user.photogif.medium.url %>
        </div>
        <%= f.input :photogif, label: 'ðŸ“¹', :input_html => { :class => 'photoinput' } %>
        </div>
      </section>
      </a>

    <a name="section-2"><div class="edit-basic-info loginform">
      <%= f.input :ig_username %>
      <%= f.input :password, label: 'Change your Password' %>
      <%= f.input :password_confirmation %>
      <%= f.input :personalIG_link, label: 'Full Link to your IG profile' %>
      <%= f.input :spotify_profile, label: 'Are you on Spotify? Link your profile here.' %>
    </div></a>

  <a name="section-3"><div class="about-details loginform">
    <h2> Tell us about you!</h2>
    <p>What do you do? What are you into? Share anything you like here, but like, no pressure. Feel free to write as much or as little as you would like. (Note: To write more- just drag the bottom right corner of the box!)</p>
    <%= f.input :about, label: 'ðŸ“', :input_html => { :class => 'paragraph' } %>
  </div></a>

    <a name="section-4"><div class="comfortcorner userprofilesection loginform">
    <h3>Leave some gentle reminders for yourself here and we'll sprinkle them as surprise and delights throughout Bettyland.</h3>
    <%= f.input :MHSroutine_1,  label: '1.' %>
    <%= f.input :MHSroutine_2,  label: '2.' %>
    <%= f.input :MHSroutine_3,  label: '3.' %>
  </div></a>


    <a name="section-5"><div class="maininfo loginform">
    <h2>Mental Health Shelf</h2>
    <p>This is where you can share what helps you take care of yourself with the Betty community. Your Mental Health Shelfie is a snapshot of you- somewhere to remind you of the tools you already have, and a way for others to connect with you. Fill in as much or as little as you like. <br><br>Who knows,
    you may just find your next bestie, or at the very least, be inspiring, and inspired.</p></a>


      <a name="section-6"><div class="userprofilesection"><h3>Got any favourite quotes?</h3>
      <%= f.input :MHSquote_1,  label: '1.', :input_html => { :class => 'MHSinput' } %>
      <%= f.input :MHSquote_2,  label: '2.', :input_html => { :class => 'MHSinput' } %>
      <%= f.input :MHSquote_3,  label: '3.', :input_html => { :class => 'MHSinput' } %></div></a>

      <a name="section-7"><div class="userprofilesection"><h3>What books or reads would you recommend?</h3>
      <%= f.input :MHSbook_1,  label: '1.', :input_html => { :class => 'MHSinput' } %>
      <%= f.input :MHSbook_2,  label: '2.', :input_html => { :class => 'MHSinput' } %>
      <%= f.input :MHSbook_3,  label: '3.', :input_html => { :class => 'MHSinput' } %>
      <%= f.input :MHSbook_4,  label: '4.', :input_html => { :class => 'MHSinput' } %>
      <%= f.input :MHSbook_5,  label: '5.', :input_html => { :class => 'MHSinput' } %></div></a>

    <a name="section-8">  <div class="userprofilesection"><h3>Any videos, resources, other links you would recommend?</h3>
      <%= f.input :MHSgeneral_1,  label: '1', placeholder: "Title", :input_html => { :class => 'mediuminput' } %><%= f.input :video_links1,  label: 'ðŸ”—',  placeholder: 'Full link please!', :input_html => { :class => 'secondaryinput' } %><br>
      <%= f.input :MHSgeneral_3,  label: '2', placeholder: "Title", :input_html => { :class => 'mediuminput' } %><%= f.input :vide_links2,  label: 'ðŸ”—.',  placeholder: 'Full link please!', :input_html => { :class => 'secondaryinput' } %><br>
      <%= f.input :MHSgeneral_4,  label: '3', placeholder: "Title", :input_html => { :class => 'mediuminput' } %><%= f.input :vide_links3,  label: 'ðŸ”—.',  placeholder: 'Full link please!', :input_html => { :class => 'secondaryinput' } %><br>
      <%= f.input :MHSgeneral_5,  label: '4', placeholder: "Title", :input_html => { :class => 'mediuminput' } %><%= f.input :vide_links4,  label: 'ðŸ”—.',  placeholder: 'Full link please!', :input_html => { :class => 'secondaryinput' } %><br>
    </div></a>


    <a name="section-9">  <div class="userprofilesection"><h3>What are some of your favourite IG accounts?</h3>
      <%= f.input :MHSIG_1,  label: '1', placeholder: "Username", :input_html => { :class => 'smallerinput' } %> <%= f.input :IG_link1,  label: 'ðŸ”—',  placeholder: 'Full link please!', :input_html => { :class => 'secondaryinput' } %><br>
      <%= f.input :MHSIG_2,  label: '2', placeholder: "Username", :input_html => { :class => 'smallerinput' } %> <%= f.input :IG_link2,  label: 'ðŸ”—',  placeholder: 'Full link please!', :input_html => { :class => 'secondaryinput' } %><br>
      <%= f.input :MHSIG_3,  label: '3', placeholder: "Username", :input_html => { :class => 'smallerinput' } %><%= f.input :IG_link3,  label: 'ðŸ”—',  placeholder: 'Full link please!',  :input_html => { :class => 'secondaryinput' } %><br>
      <%= f.input :MHSIG_4,  label: '4', placeholder: "Username", :input_html => { :class => 'smallerinput' } %> <%= f.input :IG_link4,  label: 'ðŸ”—',  placeholder: 'Full link please!', :input_html => { :class => 'secondaryinput' } %><br>
      <%= f.input :MHSIG_5,  label: '5', placeholder: "Username", :input_html => { :class => 'smallerinput' } %> <%= f.input :IG_link5,  label: 'ðŸ”—',  placeholder: 'Full link please!', :input_html => { :class => 'secondaryinput' } %>
    </div></a>

      <a name="section-10"><div class="userprofilesection"><h3>Sure, you can't buy self-care, but what are some products that help?</h3>
    <%= f.input :MHSproduct_1,  label: '1', :input_html => { :class => 'MHSinput' } %>
    <%= f.input :MHSroduct_2,  label: '2', :input_html => { :class => 'MHSinput' } %>
    <%= f.input :MHSproduct_3,  label: '3', :input_html => { :class => 'MHSinput' } %>
    <%= f.input :MHSproduct_4,  label: '4', :input_html => { :class => 'MHSinput' } %>
    <%= f.input :MHSproduct_5,  label: '5', :input_html => { :class => 'MHSinput' } %>
  </div></a>


  <a name="section-11"><div class="login"><h1> Update your CC Details</h1></div>
  <div class="loginform">

    <h3>Update your CC Details</h3>

    <div id="card"></div>

  </div></a>
</div>
</div>
</section>
  <section class="basic-user-info loginform">
    <div class="editaccounttitle"><h1> Edit Account</h1>
    </div>

    <ul class="jump-links">
        <li><a href="#section-1" class="anchor-link" data-turbolinks="false">Profile Photos</a></li>
        <li><a href="#section-2" class="anchor-link" data-turbolinks="false">Basic Info</a></li>
        <li><a href="#section-3" class="anchor-link" data-turbolinks="false">About Details</a></li>
        <li><a href="#section-4" class="anchor-link" data-turbolinks="false">Note to Self</a></li>
        <li><a href="#section-5" data-turbolinks="false">Mental Health Shelf</a></li>
        <li><a href="#section-6" data-turbolinks="false">Quotes</a></li>
        <li><a href="#section-7" data-turbolinks="false">Reads</a></li>
        <li><a href="#section-8" data-turbolinks="false">Resources</a></li>
        <li><a href="#section-9" data-turbolinks="false">IG Accounts</a></li>
        <li><a href="#section-10" data-turbolinks="false">Products</a></li>
        <li><a href="#section-11" data-turbolinks="false">CC Details</a></li>
      </ul>
      <div class="submit-button loginform">
        <%= f.button :submit, "Update User Details" %>
      <% end %>
      </div>

      <p>
      <%= link_to "Back to Your Profile", user_path(@user.ig_username) %>
    </p>

  </section>

</div>
</div>


<% end %>

    <script>
      var stripe = Stripe("<%= Rails.application.credentials[Rails.env.to_sym][:stripe_key] %>")
      var elements = stripe.elements()

      var hasUpdatedCard = false

      var card = elements.create('card', {hidePostalCode: true})
      card.mount('#card')
      card.on("change", function () {
        hasUpdatedCard = true
      })

      $("form.edit_user").on("submit", function (ev) {
        if (hasUpdatedCard) {
          stripe.createToken(card).then(function (result) {
            if (result.error) {
              $("#card-errors").html(result.error.message)
            } else {
              $("form.edit_user").append("<input type='hidden' name='user[stripe_token]' value='" + result.token.id + "'>")
              $("form.edit_user").get(0).submit()
            }
          })
        }
      })
    </script>


<footer id="footernav">
  <section class="navigationfooter">
  <p><%= link_to "All Bettys", users_path %> | <%=link_to "Meditations", meditations_path %>
    | <%=link_to "Newsletters", newsletters_path %> | <%=link_to "Discussion", forum_path %>
 | <%= link_to "Your Rewards", rewards_path %> | <%= link_to conversations_path do %> Inbox
(<%= @unread_messages %>)
<% end %>

<br><%= link_to "Your Profile", user_path(@user.ig_username) %> | <%= link_to "Edit Account", edit_account_path %> | <%=link_to "Shop Betty", products_path %>
| <%= link_to "Cart", cart_path %> | <%= link_to "Logout", session_path, method: :delete %>
<% if @user.points.nil? %>
<br>You currently have 0 Points. Time to get beditating!
<% else %>
<br>Your currently have <%= @user.points %> points. This means you have meditated for <%= 10 * @user.points %> minutes or <%= 10 * @user.points/ 60 %> hours!
<% end %>
 </section></footer>




</section>


<section class="edit-account-mobile">
    <img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/flipphone.gif">
    <h1>Please login via a desktop or laptop!</h1>
    <p>Your account page is complex and best viewed on a computer. Thanks for your understanding!</p>
    </section>
